*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: #af1413; */
    background-image: linear-gradient(to top right ,#af1413,#cc1501 );
}
#logo{
    width: 6%;
    position: absolute;
    left: 46%;
}
#name{
    position: absolute;
    font-size: 22px;
   left: 43%;
   letter-spacing: 1.3px;
   top: 12%;
   color: #d6b151;
}
 #nav1{ 
    position: absolute;
    top: 4%;
    left: 3%;
    width: 35.9%;
    height: 6%;
    display: flex;
    justify-content: space-between;
    color: white;
} 
#n1 img{
    width: 24%;
   margin-right: 19px;
}
#n2 {
    display: flex;
    justify-content: space-between;
margin-right: 80px;
align-items: center;
/* font-size: 20px; */

}
#n1{
    display: flex;
align-items: center;
z-index: 99;
color: #d6b151;
font-size: 20px;
}
#n3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
margin-right: 90px;
/* font-size: 20px; */

}
#n2 h4{
margin-left:15px ;
}
#n3 h4{
    margin-left:15px ;
    }
    #q1{
        font-size: 25px;
        color: #d6b151;
    }
    #q2{
        font-size: 25px;
        color:#d6b151 ;

    }
    #nav2{
        position: absolute;
        right: 5%;
    top: 6%;
width: 13%;
height: 5%;
font-size: 26px;
display: flex;
justify-content: space-between;
color:#d6b151 ;

    }
    #arrow{
        position: absolute;
        right: 0;
        top: 40%;
        width: 6%;
        border-radius:45% 0 0 45%;
        height: 17%;
        background-image: linear-gradient(to bottom,rgb(238 41 58) 50%,rgb(211 31 60) 50%);
        /* align-items: center; */
        justify-content: space-between;
        font-size: 40px;
        display:block;
    color: white;
    }
    #q3
    {
        position: absolute;
        top: 10%;
        left: 40%;
    }
    #q4{
        position: absolute;
        bottom: 10%;
        left: 40%;
    }
    #img1{
        position: absolute;
        right: -8%;
        bottom: -9%;
        height: 40%;
        transform: rotate(270deg);
    }
    #img2{
        position: absolute;
        top: 19%;
        right: 7%;
        height: 55%;
    }
    h1{
        position: absolute;
        font-size: 95px;
        font-weight: 900;
        top: 32.4%;
        left: 41%;
        transform: translate(-50%,-50%);
        font-family: 'Guyon Gazebo', sans-serif;
        font-family: 'Zar', sans-serif;
        color: whitesmoke;
        letter-spacing: 1.5px; 
    }
    h2{
        position: absolute;
        font-size: 65px;
        font-weight: 700;
        top: 43.4%;
        left: 41%;
        transform: translate(-50%,-50%);
        font-family: 'Zar', sans-serif;
        color: whitesmoke;  
        letter-spacing: 1.5px;                 

    }
    #n5{
        position: absolute;
        font-size: 30px;
        top: 47%;
        left: 48%;
        color:#d6b151 ;
        font-weight: 700;
        font-style: oblique;                                                                  font-family: 'Tombouctou DEMO', sans-serif;
        font-family:  sans-serif;
        letter-spacing: 2.5px;                 
                                                
    }
    h6{
        position: absolute;
        font-style: normal;
        font-size: 23px;
        font-weight: bolder;
        color:#791111 ;
        top: 71.4%;
        left: 75%;

font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
   
   #black{
       height: 100%;
       width: 12%;
       position: absolute;
       background-color: black;
       left: 0;
       top: 0;
   }
   #i{
       z-index: 99;
       position: absolute;
       height: 40%;
       bottom: -10%;
       left: -25%;
   }
  
   
   #p{
    color: white;
    position: absolute;
    bottom: 39%;
    /* top: 46.2%; */

    left: 35%;
    font-size: 25px;

  }
 
    #p1{
        color: white;
        position: absolute;
        bottom: 31%;
        left: 35%;
        font-size: 25px;
    
      }
      #p2{
        color: white;
        position: absolute;
        bottom: 23%;
        left: 35%;
        font-size: 25px;
    
      }
     #o{
         position: absolute;
         font-size: 25px;
        color:#d6b151 ;
         top: 33%;
        left: 10%;
font-weight: 800;
font-family: 'GentiumAlt', sans-serif;
                       letter-spacing: 1.3px;                         
         transform: rotate(270deg);
     }
     p{
         position: absolute;
         bottom: 34%;
         left: 21%;
         color: white;
         font-family: 'Prociono', sans-serif;
              font-size: 18px;                                  
     }
     #i1{
         position: absolute;
         height: 15%;
         bottom: 17%;
         left: 17%;
     }
     #k1{
         position: absolute;
         width: 8%;
         height: 7%;
         border-radius: 15%;
         bottom: 20.5%;
         left: 25%;
        /* border: 2px solid white; */
        padding-left: 40px;
        padding-top: 15px;
        color:#d6b151 ;
font-family: 'GentiumAlt', sans-serif;
font-weight: 800;
background-color: black;
        
     }
     #k2{
        position: absolute;
        width: 8%;
        height: 7%;
background-color: black;

        border-radius: 15%;
        bottom: 20.5%;
        left: 38%;
        border: 2px solid white;
        padding-left: 40px;
        color:#d6b151 ;
font-family: 'GentiumAlt', sans-serif;
font-weight: 800;
     
        padding-top: 15px;
    }
    #k3{
        position: absolute;
        width: 8%;
        height: 7%;
        border-radius: 15%;
        bottom: 20.5%;
background-color: black;

        left: 51%;
        /* border: 2px solid white; */
        padding-left: 40px;
        padding-top: 15px;
        color:#d6b151 ;
        font-family: 'GentiumAlt', sans-serif;
        font-weight: 800;

    }
    button{
        width: 11%;
        height: 7%;
        position: absolute;
        left: 36%;
bottom: 6%;
border: none;
background-color: black;
color:rgb(238 41 58) ;
font-weight: 800;
font-family: Verdana, Geneva, Tahoma, sans-serif;
border-radius: 8%;
    }
